::-webkit-scrollbar {
  display: none;
}
  .top-image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.1%;
  }
  header {
    text-align: center;
  }
  main {
    text-align: center;
  }

#flx {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
 }
 #left-man {
 width: 20%;
 position: relative;
 left: 20%;
 padding-bottom: 60%;
 
  
 }
 #right-man {
  width: 19%;
  position: relative;
  right: 20%;
  margin-top: -58%;
  
  
 }
 .price-list {
  font-size: 3vw;
  white-space: nowrap;
  margin-top: 10%;
  font-family: noteworthy, Times;

  
 

}

.open-times-top {
  margin-top: 5%;
  font-family: chalkboard, Times;
}
.open-times-middle {
  margin-top: -3%;
  font-family: chalkboard, Times;
}
.open-times-bottom {

  font-family: chalkboard, Times;
  text-decoration: underline;

}
.price {
  font-size: 2vw;
  white-space: nowrap;
  margin: 3%;
  font-family: Lucida Grande, Times;

}

.border {
  
  margin-top: 10%;
  padding: 2%;
  width: 100%;
  margin-bottom: 10%
} 
.over {
  margin-left: -1%
}




  .flex {
    display: flex;
    flex-direction: row;
   
    padding: 0;
  }
  .map {
  
    padding: 0;
    margin: 0;
    width: 50%;
    }
  p {
    
    
    font-size: 2vw;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 1%
  }

  address {
    text-align: center;
    font-size: 1vw;
    
}

legend {

  font-size: 2vw;
}
 
 
